{% extends '_base.html' %}

{% block title %}Iniciar Sesión - Newspaper Lecheria{% endblock %}

{% block content %}
<div class="content">
    <h2>Iniciar Sesión</h2>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
                {% if field.errors %}
                    <div class="error">{{ field.errors }}</div>
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit" class="btn">Iniciar Sesión</button>
    </form>
    <p class="mt-2">¿No tienes cuenta? <a href="{% url 'password_reset' %}">Recuperar contraseña</a></p>
</div>
{% endblock %}