{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Newspaper</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <a href="{% url 'article-list' %}"><h1>Newspaper Lecheria</h1></a>
        <a href="{% url 'article-create' %}">Crear Articulo</a>
        
        {% if user.is_authenticated %}
            <span>Bienvenido, {{ user.username }}</span>
            <a href="{% url 'logout' %}">Cerrar Sesión</a>
        
        {% else %}
        <a href="{% url 'login' %}">Iniciar Sesión</a>
        {% endif %}

    </header>
        {% block content %}

        {% endblock %}
</body>
</html>
