{% extends '_base.html' %}

{% block title %}Crear Nuevo Artículo - Newspaper Lecheria{% endblock %}

{% block content %}
<div class="content">
    <h2>Crear Nuevo Artículo</h2>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
                {% if field.errors %}
                    <div class="error">{{ field.errors }}</div>
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit" class="btn">Crear Artículo</button>
    </form>
</div>
{% endblock %}