{% extends '_base.html' %}

{% block title %}Eliminar Artículo - Newspaper Lecheria{% endblock %}

{% block content %}
<div class="content">
    <h2>Eliminar Artículo</h2>
    <p>¿Estás seguro de que quieres eliminar el artículo "<strong>{{ article.title }}</strong>"?</p>
    <p class="text-center mb-3">Esta acción no se puede deshacer.</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn danger">Sí, eliminar</button>
        <a href="{% url 'article-detail' article.pk %}" class="btn">No, volver</a>
    </form>
</div>
{% endblock %}