{% extends '_base.html' %}

{% block title %}{{ article.title }} - Newspaper Lecheria{% endblock %}

{% block content %}
<div class="content">
    <article class="article-detail">
        <h2>{{ article.title }}</h2>
        <div class="article-author">Por {{ article.author }}</div>
        <div class="article-date">Publicado el {{ article.created_at|date:"d F Y" }}</div>
        <div class="article-content">{{ article.content|linebreaks }}</div>
        {% if user.is_authenticated and user == article.author %}
            <div class="article-actions">
                <a href="{% url 'article-update' article.pk %}">Editar Artículo</a>
                <a href="{% url 'article-delete' article.pk %}" class="danger">Eliminar Artículo</a>
            </div>
        {% endif %}
    </article>
</div>
{% endblock %}